.success{
    background-color: green;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.danger{
    background-color: red;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}